/*estilo donostiarraPlasticaDemo_>HIghachievers*/

@charset "UTF-8";
@font-face {
    font-family: 'Minion Pro';
    src: url('fonts/MinionPro-Regular.eot');
    src: url('fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/MinionPro-Regular.woff2') format('woff2'),
        url('fonts/MinionPro-Regular.woff') format('woff'),
        url('fonts/MinionPro-Regular.ttf') format('truetype'),
        url('fonts/MinionPro-Regular.svg#MinionPro-Regular') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Bold.eot');
    src: url('fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-Bold.woff2') format('woff2'),
        url('fonts/Lato-Bold.woff') format('woff'),
        url('fonts/Lato-Bold.ttf') format('truetype'),
        url('fonts/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Consolas';
    src: url('fonts/Consolas-Bold.eot');
    src: url('fonts/Consolas-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Consolas-Bold.woff2') format('woff2'),
        url('fonts/Consolas-Bold.woff') format('woff'),
        url('fonts/Consolas-Bold.ttf') format('truetype'),
        url('fonts/Consolas-Bold.svg#Consolas-Bold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('fonts/GillSans-Italic.eot');
    src: url('fonts/GillSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/GillSans-Italic.woff2') format('woff2'),
        url('fonts/GillSans-Italic.woff') format('woff'),
        url('fonts/GillSans-Italic.ttf') format('truetype'),
        url('fonts/GillSans-Italic.svg#GillSans-Italic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('fonts/GillSans-Regular.eot');
    src: url('fonts/GillSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/GillSans-Regular.woff2') format('woff2'),
        url('fonts/GillSans-Regular.woff') format('woff'),
        url('fonts/GillSans-Regular.ttf') format('truetype'),
        url('fonts/GillSans-Regular.svg#GillSans-Regular') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro-It.eot');
    src: url('fonts/MyriadPro-It.eot?#iefix') format('embedded-opentype'),
        url('fonts/MyriadPro-It.woff2') format('woff2'),
        url('fonts/MyriadPro-It.woff') format('woff'),
        url('fonts/MyriadPro-It.ttf') format('truetype'),
        url('fonts/MyriadPro-It.svg#MyriadPro-It') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro-BoldCond.eot');
    src: url('fonts/MyriadPro-BoldCond.eot?#iefix') format('embedded-opentype'),
        url('fonts/MyriadPro-BoldCond.woff2') format('woff2'),
        url('fonts/MyriadPro-BoldCond.woff') format('woff'),
        url('fonts/MyriadPro-BoldCond.ttf') format('truetype'),
        url('fonts/MyriadPro-BoldCond.svg#MyriadPro-BoldCond') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro-Bold.eot');
    src: url('fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/MyriadPro-Bold.woff2') format('woff2'),
        url('fonts/MyriadPro-Bold.woff') format('woff'),
        url('fonts/MyriadPro-Bold.ttf') format('truetype'),
        url('fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Light.eot');
    src: url('fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-Light.woff2') format('woff2'),
        url('fonts/Lato-Light.woff') format('woff'),
        url('fonts/Lato-Light.ttf') format('truetype'),
        url('fonts/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro-Black.eot');
    src: url('fonts/MyriadPro-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/MyriadPro-Black.woff2') format('woff2'),
        url('fonts/MyriadPro-Black.woff') format('woff'),
        url('fonts/MyriadPro-Black.ttf') format('truetype'),
        url('fonts/MyriadPro-Black.svg#MyriadPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro-BoldIt.eot');
    src: url('fonts/MyriadPro-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('fonts/MyriadPro-BoldIt.woff2') format('woff2'),
        url('fonts/MyriadPro-BoldIt.woff') format('woff'),
        url('fonts/MyriadPro-BoldIt.ttf') format('truetype'),
        url('fonts/MyriadPro-BoldIt.svg#MyriadPro-BoldIt') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro-Regular.eot');
    src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('fonts/MyriadPro-Regular.woff') format('woff'),
        url('fonts/MyriadPro-Regular.ttf') format('truetype'),
        url('fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Myriad Pro';
}

.body_clase .content-wrapper,
.body_clase.view-mode .content-wrapper {
    font-size: 16px;
    font-weight: 300
}

.slide-wrapper {
    text-align: left
}

#actividad .carousel-inner .item-container {
    -webkit-box-shadow: rgba(0,0,0,.298039) 0 3px 9px;
    -moz-box-shadow: rgba(0,0,0,.298039) 0 3px 9px;
    box-shadow: 0 3px 9px rgba(0,0,0,.43);
    padding-bottom: 0;
    background: #fff;
    max-width: 960px
}

/*#actividad .content .header,
#actividad .content .header .chapter,
#actividad .content .header .title img {
    display: none
}*/

#actividad .content .header {
    border-bottom: none
}

.info-alumno .nombre-alumno {
    max-width: 189px
}

#actividad .pregunta .texto_curso {
    font-size: 2rem
}

.texto_curso p {
    line-height: 1.5!important;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500
}

p {
    margin: 0 0 10px;
    font-size: 2.2rem;
    font-weight: 500
}

.bck-t-align-center {
    line-height: 1.7em!important
}


#book-index #indice .units ul li.active a,
#book-index .col-main {
   background: #007c39;
}

body:not(.isTablet) #book-index #indice .units ul li:not(.disabled) a:hover {
    background: inherit;
}

#indice .unit-content {
    -webkit-box-shadow: none;
    box-shadow: none
}

#indice .unit-content .header .title {
    display: none;
}

#indice .unit-content .actividades .item .nota {
    background-color: #428bca
}

#indice .units ul li {
    -webkit-box-shadow: 1px 1px 1px 1px #c2c2c2;
    box-shadow: 1px 1px 1px 1px #c2c2c2;
    border-radius: 10px;
}

#indice .units ul li.active:not(.disabled),
#indice .units ul li:focus:not(.disabled) {
    background: #F08B25;
    border-radius: 14px;
    border: 3px solid #fff;
    box-shadow: 0px 5px 5px 0px #adadad;
}

#indice .units ul li.hover:not(.disabled),
#indice .units ul li:hover:not(.disabled),
body:not(.isTablet) #indice .units ul li:hover:not(.disabled) {
    background: #F08B25;
    border-radius: 14px;
    border: 3px solid #fff;
    box-shadow: 0px 5px 5px 0px #adadad;
}

#book-index #indice .unit-content a,
#book-index #indice .unit-content a:active,
#book-index #indice .unit-content a:focus,
#book-index #indice .unit-content a:hover,
#indice .units ul li a:active,#indice .units ul li a:focus,
#indice .units ul li a:hover {
    color: #fff
}

#indice .actividades a:active,#indice .actividades a:focus,
#indice .actividades a:hover {
    color: #007c39;
}

#book-index #indice .unit-content .actividades .item {
    background: transparent;
    margin: 0 auto
}

#book-index #indice .unit-content .actividades .item .title {
    font-weight: 700
}

#book-index #indice .unit-content .content .title-buttons .btn {
    padding: 0px 12px 0 11px;
}

#book-index #indice .unit-content .actividades .item.active,#book-index #indice .unit-content .actividades .item.current,
body:not(.isTablet) #book-index #indice .unit-content .actividades .item:active,
body:not(.isTablet) #book-index #indice .unit-content .actividades .item:hover {
    background: transparent;
    border-bottom: 2px solid #fff;
    padding-left: 10px
}

.donostiarraPlasticaDemo-navbar h3 {
    width: 75%;
    margin: auto auto 15px;
    font-size: 2rem;
    font-weight: 700
}

#actividad .texto_curso {
    font-size: 2rem;
    line-height: 1.9
}

#actividad .class_slide {
    padding: 20px 97px 10px
}

body.is_app #actividad .class_slide {
    padding-top: 20px
}

#actividad .slide_content_type_1 .pregunta .texto_curso {
    font-size: 2.1rem
}

.slide_content_type_29 .paint .main-canvas {
    border: 1px solid #fff
}

#actividad .content .header .title h3 {
    color: #4b4b4b;
    width: 100%;
    padding: 13px;
    font-weight: 700;
}

#actividad .content .header .title h3:before {
    display: none
}

#actividad .content .header .title h3:after {
    display: none
}

.slide_main input {
    max-width: 98%;
    height: 1,43
}

.texto_curso li input {
    height: 1.8em!important;
    margin-bottom: 7px
}

.keyboardInput {
    height: 1.8em
}

.donostiarraPlasticaDemo-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #000;
    background: #545759
}

body.is_app .donostiarraPlasticaDemo-navbar {
    -webkit-transition: top .5s linear;
    -o-transition: top .5s linear;
    -moz-transition: top .5s linear;
    transition: top .5s linear
}

body.is_app .donostiarraPlasticaDemo-navbar.ocultar {
    top: -136px
}

.donostiarraPlasticaDemo-navbar .navbar-content {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    text-align: center
}

.navbar-bottom {
    padding: inherit
}

.logo-publisher {
    width: 87px;
    height: 35px;
    margin: 9px 0;
    background: none
}

.edit .logo-publisher {
    display: none
}

.edit -publisher {
    top: 2px;
    width: 40px;
    height: 40px
}

/*logo*/
.content_type_curso_donostiarraPlasticaDemo .libro-left ul li .title:before {
    content: "";
    background-size: contain;
    top: 12px;
    background-image: url(images/donostiarraPlasticaDemo_logo.png) !important;
    position: fixed;
    width: 100px;
    height: 23px;
    background-repeat: no-repeat;
    left: 50%;
    margin-left: -40px;
    opacity: 1;
}

.navbar-content .logo-publisher {
    display: inline-block;
    position: absolute;
    top: -5px;
    left: 0;
    width: 98px;
    height: 44px;
    background: url(images/donostiarraPlasticaDemo_logo.png) 0 0 no-repeat;
    -webkit-background-size: contain;
       -moz-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
    background-position: center center;
}

.content_type_curso_donostiarraPlasticaDemo.content_type_clase_donostiarraPlasticaDemo .libro-left ul li .title:before {
    opacity: 0;
}

.donostiarraPlasticaDemo-navbar .copyright {
display: none;
}

#actividad .content img {
 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #f08b25;
    box-shadow: 3px 3px 2px 0px #707173;
}

li img {
    vertical-align: top
}

#actividad .workspace.test .checkbox-option label.filter-label,#actividad .workspace.test .radio-option label.filter-label,#actividad .workspace.true-false .checkbox-option label.filter-label,#actividad .workspace.true-false .radio-option label.filter-label {
    font-size: 1.8rem;
    font-weight: 300
}

#actividad .workspace.true-false .tf-option {
    display: inline-block;
    margin-left: 70px
}

#actividad .content .workspace.test ul li .bck-ul li:before,#actividad .content .workspace.test ul li ul li:before {
    display: none
}

#actividad .workspace.matching .img-relaciones img {
    margin: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

#actividad .drag .circulo_gris p {
    text-align: left
}

#actividad .workspace.multiplechoice_horizontal .opcion {
    display: inline-block;
    margin: 10px;
    padding: 0 5px
}

#actividad .workspace.multiple-choice .opcion p {
    text-align: inherit;
}

#actividad .workspace.multiplechoice_horizontal>ul.move-text {
    text-align: center
}

.slide_main .multiple-solution-marker {
    display: none
}

.slide.crosswords-puzzle .enunciado {
    font-size: 2rem;
    line-height: 2.5rem
}

.fillblanks-draggable-wrapper .response p {
    position: relative;
    margin: 0;
    text-align: center;
    padding: 5px 10px;
    font-size: 1.8rem
}

body #actividad .workspace.chooseblanks .inline-answer a {
    display: inline-block;
    vertical-align: text-top;
    border: 2px solid #00bdff;
    color: #787878;
    padding: 0 6px;
    margin: 2px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px
}

#actividad .workspace.chooseblanks .inline-answer a:hover {
    background-color: #d2eff7;
    color: #414141
}

#actividad .workspace.chooseblanks .inline-answer a.selected:not(.respuesta_ok):not(.respuesta_ko):not(.solucion) {
    background-color: #0597ca;
    color: #fff;
    font-weight: 400
}

#actividad .workspace.chooseblanks .inline-answer a.respuesta_ok {
    color: #00bdff;
    border-color: #00bdff;
    background-color: #fff;
    padding: 6px;
    font-size: 2.5rem
}

#actividad .workspace.chooseblanks .inline-answer {
    display: inline;
    position: relative;
    top: -9px
}

#actividad .workspace.chooseblanks .solucion {
    border-bottom: 1px solid #00bdff;
    background-color: #bbffb6
}

#actividad .workspace.matching .opcion {
    overflow: hidden;
    min-height: 2.5em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 10px;
    border: 2px solid #64bcd5;
    margin: 2px 0;
    padding: 5px;
    width: 100%;
    float: left
}

#actividad .workspace.matching .opcion:hover {
    background: rgba(224,247,255,.6196078431372549)
}

.slide_main .img-input-container,
 .slide_main input {
    border-bottom-color: #aa9b8a;
    background-color: #F2E7D8;
    box-shadow: inset 0px 2px 5px 0px #bfb5a9;
}

.cke_inner,.cke_wysiwyg_div {
    background: #fff
}

#actividad .box p {
    font-size: 2rem;
    line-height: 1.5
}

#actividad .workspace.clasificar .clasificar_lista .classify-item {
    border-color: rgb(0 124 57 / 42%);
    padding: 6px
}

#actividad .workspace.clasificar .clasificar_conjuntos .group-name-title {
    display: table-cell;
    vertical-align: middle;
    font-family: 'StradaOT-Semibd';
}

#actividad .workspace.clasificar .clasificar_conjuntos .conjunto .group-box {
    border: 3px solid rgb(0 124 57 / 42%);
    padding-top: 15px
}

#actividad .workspace.ordenar.ordenar_horizontal li {
    padding: 4px 40px
}

#actividad .workspace.ordenar .js-rank-item {
    margin-bottom: 16px
}

#actividad .workspace.ordenar li>p {
    line-height: 1.3
}

/*audios*/
#actividad .player.audio {
    background-image: url(images/icono_audio_rojo.png);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: contain;
    background-position: 0;
    background-color: rgba(154,153,158,0)
}

/*#actividad .player.audio:hover {
    -webkit-box-shadow: 2px 2px 2px undefinedpx #a8a3a2;
    box-shadow: 2px 2px 2px undefinedpx #a8a3a2
}*/

#actividad .content img.player,
#actividad .player.audio,
#actividad .player.video,
#help-panel-content .player,
#remote-alert-modal-rich .player {
    height: 30px!important;
    width: 28px;
    display: inline-block;
    background-repeat: no-repeat;
    border-radius: 0;
    margin-right: 5px;
    padding: 0
}

#actividad .player.audio,
#actividad .player.video,
#help-panel-content .player,
#remote-alert-modal-rich .player {
    background-color: rgba(0,128,0,0)
}

body:not(.edit) #actividad a:not(.cke_button):not(.zoom_flag_img) {
    background-color: transparent
}

#actividad .content img.player,
#actividad .player.audio,
#actividad .player.video,
#help-panel-content .player,
#remote-alert-modal-rich .player:hover {
    -webkit-box-shadow: 2px 2px 2px undefinedpx #a8a3a2;
    box-shadow: 2px 2px 2px undefinedpx #a8a3a2
}

#swipeview-slider>div {
    background-color: inherit
}



/*títulos*/
.bck-title {
    border-bottom: none;
}

/*título 1*/
.bck-title-1 {
    border-radius: 0 0 38px 38px;
    color: #F08B25;
    font-size: 25px;
    text-shadow: -1px 1px 0px #5b5b5b, -1px 0 0 #d2d2d2, 0px 1px 0 #686868, 0 -1px 0 #000000, 1px 1px #7e7e7e, -1px -1px 0 #333333, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
}

.bck-title-1:before {
    display: none;
}


/*título 2*/
.bck-title-2 {
     color: #fff;
    font-size: 2.3rem;
    text-align: left;
    background-color: #F08B25;
    padding: 7px 21px;
    border-radius: 10px;
    text-shadow: -1px 1px 0px #bababa, -1px 0 0 #bababa, 0px 1px 0 #bababa, 0 -1px 0 #343434, 1px 1px #343434, -1px -1px 0 #343434, 1px -1px 0 #343434, -1px 1px 0 #343434;
    box-shadow: 3px 3px 2px 0px #707173;
    margin-bottom: 25px;
}

/*título 3*/
.bck-title-3 {
    color: #fff;
    font-size: 2.3rem;
    text-align: left;
    background-color: #F7B577;
    padding: 7px 21px;
    border-radius: 10px;
    text-shadow: -1px 1px 0px #bababa, -1px 0 0 #bababa, 0px 1px 0 #bababa, 0 -1px 0 #343434, 1px 1px #343434, -1px -1px 0 #343434, 1px -1px 0 #343434, -1px 1px 0 #343434;
    box-shadow: 3px 3px 2px 0px #707173;
}

/*título 4*/
.bck-title-4 {
    color: #414141;
    font-size: 13px;
    text-align: center;
    line-height: 1.6em!important;
    margin-top: 0px;
    font-family: 'Gill Sans';
    font-weight: 500;
}

/*título 5*/
.bck-title-5 {
    border-radius: 0 0 38px 38px;
    color: #F08B25;
    text-shadow: -1px 1px 0px #5b5b5b, -1px 0 0 #d2d2d2, 0px 1px 0 #686868, 0 -1px 0 #000000, 1px 1px #7e7e7e, -1px -1px 0 #333333, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
}


/*enfasis*/
/*.bck-enfasis {
    font-size: 5rem;
    color: inherit
}*/

/*énfasis*/
.bck-enfasis-1 {
    padding: 44px 20px 18px 20px;
    border-radius: 0 0 38px 38px;
    color: #fff;
    background-color: #F08B25;
    font-size: 8rem;
    position: relative;
    top: 0px;
    text-shadow: 3px 3px 2px #262e2a, -1px 0 0 #262e2a, 0 1px 0 #262e2a, 0 -1px 0 #262e2a, 1px 1px #262e2a, -1px -1px 0 #262e2a, 1px -1px 0 #262e2a, -1px 1px 0 #262e2a;
}


.texto_curso li {
    line-height: 1.8em!important
}

/*LISTAS DESORDENADAS*/
/*lista desordenada*/
.popover-template .popover-content ul li,.texto_curso ul li {
    padding-left: 42px
}

#actividad .popover-background.shown .popover-content>ul>li:before {
    position: absolute
}

#actividad .popover-content ul li,#actividad .texto_curso li,#actividad .workspace ul li li {
    position: relative;
    margin-bottom: 10px
}

#actividad .content .texto_curso ul li:before {
    left: inherit
}

#actividad .workspace.matching .box ul li:before,
#actividad .workspace.multiple-choice .js-item ul li:before,
#actividad .workspace.ordenar .js-rank-item ul li:before,
.cke_contents ul li:before,
.classify-item ul li:before,
.preview ul li:before,
.texto_curso ul li:before,
.workspace ul li ul li:before {
    content: "";
    height: 6px;
    width: 6px;
    background-color: #333;
    color: #333;
    border-radius: 50%
}

#actividad .content .texto_curso ul li:before,
#actividad .content .workspace ul li ul li:before {
    content: "";
    height: 9px;
    width: 9px;
    background-color: #fff;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

#actividad .content .texto_curso .bck-ul li:before,
#actividad .content .texto_curso ul li:before,
#actividad .content .workspace ul li .bck-ul li:before,
#actividad .content .workspace ul li ul li:before,
#actividad .popover-background.shown .popover-content>ul>li:before {
    content: "";
    height: 6px;
    width: 6px;
    background-color: #333;
    color: #333;
    border-radius: 50%;
    position: absolute;
    margin-top: .6em;
    margin-left: 6px
}

/*lista desordenada por defecto, sin seleccionar estilo para la ul*/

#actividad .content .texto_curso ul li:before,
#actividad .content .workspace ul li ul li:before {
    content: "";
    height: 9px;
    width: 9px;
    background-color: #fff;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#actividad .content .texto_curso ul li::before,
#actividad .content .workspace ul li ul li::before,
#actividad .content .texto_curso .bck-ul li::before,
#actividad .content .workspace ul li .bck-ul li::before,
#actividad .popover-background.shown .popover-content>ul>li::before {
    content: "";
    height: 6px;
    width: 6px;
    background-color: #333;
    color: #333;
    border-radius: 50%;
    position: absolute;
    margin-top: .6em;
    margin-left: -16px;
}

/*lista desordenada 1*/
#actividad .content .texto_curso .bck-ul-1 li,
#actividad .content .workspace ul li .bck-ul-1 li,
#actividad .popover-background.shown .popover-content .bck-ul-1 li {
    font-size: 2rem;
    font-weight: 100;
    margin-left: 5px
}

#actividad .content .texto_curso .bck-ul-1 li:before,
#actividad .content .workspace ul li .bck-ul-1 li:before {
    content: "";
    height: 7px;
    width: 7px;
    background-color: #414141;
    position: absolute;
    top: 2px;
    border-radius: 100%;
    left: auto;
    margin: 13px 0 0 -15px;
}



/*listas ordenadas*/

#actividad .content .cke_contents .bck-ol li:before,
#actividad .content .texto_curso .bck-ol li:before,
#actividad .content .workspace ul li .bck-ol li:before,
#actividad .popover-content .bck-ol li:before {
    position: relative;
    text-align: center;
    margin-left: -10px
}

#actividad .content .cke_contents .bck-ol li {
    margin-left: 0
}

#actividad .content .cke_contents .bck-ol-1,
#actividad .content .texto_curso .bck-ol-1,
#actividad .content .workspace ul li .bck-ol-1,
#actividad .popover-content .bck-ol-1 {
    list-style-type: none;
    counter-reset: bck-li-counter
}

#actividad .content .cke_contents .bck-ol-1 li, 
#actividad .content .texto_curso .bck-ol-1 li, 
#actividad .content .workspace ul li .bck-ol-1 li, 
#actividad .popover-content .bck-ol-1 li {
    counter-increment: bck-li-counter;
    padding-left: 0;
    position: relative;
    z-index: 0;
    font-weight: 600;
    margin-left: -15px;
    margin-top: 10px;
    font-size: 2rem;
    font-family: 'StradaOT-Semibd';
    line-height: 1.8em!important;
}


/*lista ordenada 1*/
#actividad .content .cke_contents .bck-ol li:before,
#actividad .content .texto_curso .bck-ol li:before,
#actividad .content .workspace ul li .bck-ol li:before,
#actividad .popover-content .bck-ol li:before {
    position: relative;
    text-align: center;
    margin-left: -10px
}

#actividad .content .cke_contents .bck-ol li {
    margin-left: 0
}

#actividad .content .cke_contents .bck-ol-1,
#actividad .content .texto_curso .bck-ol-1,
ctividad .content .workspace ul li .bck-ol-1,
#actividad .popover-content .bck-ol-1 {
    list-style-type: none;
    counter-reset: bck-li-counter
}

#actividad .content .cke_contents .bck-ol-1 li,
#actividad .content .texto_curso .bck-ol-1 li,
#actividad .content .workspace ul li .bck-ol-1 li,
#actividad .popover-content .bck-ol-1 li {
    counter-increment: bck-li-counter;
    padding-left: 0;
    position: relative;
    z-index: 0;
    font-weight: 500;
    margin-left: 7px;
    margin-top: 10px;
    font-size: 2rem;
    line-height: 1.6em!important;
    font-family: 'Myriad Pro';
}

#actividad .content .cke_contents .bck-ol-1 li:before, 
#actividad .content .texto_curso .bck-ol-1 li:before, 
#actividad .content .workspace ul li .bck-ol-1 li:before, 
#actividad .popover-content .bck-ol-1 li:before {
    content: counter(bck-li-counter) ". ";
    position: absolute;
    margin-left: -33px;
    color: #414141;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 0px;
    font-family: 'Myriad Pro';
    top: 0;
    left: 0;
}

#actividad .content .cke_contents .bck-ol-2,
#actividad .content .texto_curso .bck-ol-2,
#actividad .content .workspace ul li .bck-ol-2,
#actividad .popover-content .bck-ol-2 {
    list-style-type: none;
    counter-reset: bck-li-counter
}

#actividad .content .cke_contents .bck-ol-2 li,
#actividad .content .texto_curso .bck-ol-2 li,
#actividad .content .workspace ul li .bck-ol-2 li,
#actividad .popover-content .bck-ol-2 li {
counter-increment: bck-li-counter;
    padding-left: 0;
    position: relative;
    z-index: 0;
    font-weight: 500;
    margin-left: 32px;
    margin-top: 10px;
    font-size: 2rem;
    line-height: 1.6em!important;
    font-family: 'Myriad Pro';
}

#actividad .content .cke_contents ol.bck-ol-2 li:before,
#actividad .content .texto_curso ol.bck-ol-2 li:before,
#actividad .content .workspace ul li ol.bck-ol-2 li:before,
#actividad .popover-content ol.bck-ol-2 li:before {
    content: counter(bck-li-counter,lower-alpha) ")";
    position: absolute;
    text-align: center;
    color: #434343;
    line-height: normal;
    margin-left: -5px;
    line-height: unset;
    font-weight: 400;
    margin-top: -2px;
    font-size: 2rem;
}

/*cajas*/
.bck-box {
    max-width: none;
    margin-bottom: 0;
    background: inherit
}

.bck-box .bck-content {
    padding: 0
}

.bck-box.center {
    text-align: inherit
}

/*caja 1*/
.bck-box.bck-box-1 {
    margin-top: 5px;
    padding: 5px;
    background: #FDF1E3;
    box-shadow: 3px 3px 2px 0px #707173;
    border-radius: 10px;
    border: 3px solid #f38d25;
    margin-bottom: 20px;
}

.bck-box.bck-box-1>.bck-title {
    position: relative;
    top: 2px;
    left: 0;
    padding-left: 19px;
    font-family: 'Myriad Pro';
}

.bck-box.bck-box-1>.bck-content {
    padding: 8px 18px 8px 19px
}

.bck-box-1>.bck-content p {
    font-size: 2.2rem
}

.bck-box.bck-box-1>.bck-title p {
    font-size: 24px;
    font-weight: 700;
    color: #f08b25;
    font-style: italic;
}

.bck-box.bck-box-1:before {
    display: none;
}

.bck-box.bck-box-1:after {
    display: none;
}

/*caja 2*/
.bck-box.bck-box-2 {
    margin-top: 5px;
    padding: 5px;
    background: #FDF1E3;
    box-shadow: 3px 3px 2px 0px #FEF5E4;
    border-radius: 20px;
    border: 3px solid #F08B25;
    margin-bottom: 20px;
}

.bck-box.bck-box-2>.bck-title {
    position: relative;
    top: 2px;
    left: 0;
    padding-left: 19px;
    color: inherit;
}

.bck-box.bck-box-2 .bck-title:before {
    display: none;
}

.bck-box.bck-box-2>.bck-content {
    padding: 8px 18px 8px 19px
}

.bck-box-2>.bck-content p {
    font-size: 2.2rem
}

/*caja 3*/
.bck-box.bck-box-3 {
    margin-top: 5px;
    padding: 5px;
    background: #B9E6FB;
    box-shadow: 3px 3px 2px 0px #B9E6FB;
    border-radius: 20px;
    border: 3px solid #4D8DC5;
    margin-bottom: 20px;
}

.bck-box.bck-box-3>.bck-title {
    text-align: center;
    color: #231F20;
}

.bck-box.bck-box-3>.bck-title p {
    font-weight: 700;
}

.bck-box.bck-box-3>.bck-content {
    padding: 8px 18px 8px 19px
}

.bck-box-3>.bck-content p {
    font-size: 2.2rem
}

/*caja 4*/
.bck-box.bck-box-4 {
    margin-top: 5px;
    padding: 5px;
    background: #FEE3C4;
    box-shadow: 3px 3px 2px 0px #B9E6FB;
    border-radius: 20px;
    border: 3px solid #F7961D;
    margin-bottom: 20px;
}

.bck-box.bck-box-4>.bck-title {
    text-align: center;
    color: #231F20;
}

.bck-box.bck-box-4>.bck-title p {
    font-weight: 700;
}

.bck-box.bck-box-4>.bck-content {
    padding: 8px 18px 8px 19px
}

.bck-box-4>.bck-content p {
    font-size: 2.2rem
}

/**/

.bck-i-fullscreen-wrapper {
    padding: 0
}


.info-popover .popover-title:before,.popover-template .popover-title:before {
    color: #728fa6
}

.info-popover .popover-title,.popover-template .popover-title {
    background: #728fa6
}

.info-template .info-title,.info-template .info-title.shown:before {
    color: #728fa6
}

/*iconos*/
.item-container .icon:before {
        height: 22px;
    width: 34px;
    margin-right: 5px;
    margin-top: -5px;
}


.item-container .icon-hablar:before {
    background-image: url(images/icono_hablar_rojo.png);
    content: "";
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-position: 50%;
    display: inline-block;
    vertical-align: sub;
    height: 22px;
    width: 33px;
    margin-right: 5px
}




/*.item-container .icon:before {
    vertical-align: text-bottom
}

.item-container .icon-fast:before, .item-container .icon:before {
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    display: inline-block;
}*/

/*tablas*/
.bck-table td,table td {
    padding: 10px;
    border-color: #ccc
}

table td.bck-td-1 {
    color: inherit;
    background-color: transparent
}

td,th {
    padding-left: 10px
}

.bck-table,table {
    border: 0 solid #ccc
}

/*TABLA 1*/ 
table.bck-table-1 {
    border: 2px solid #F08B25;
}


table.bck-table-1 td {
    border-color: #F08B25;
}

/*Actividades*/
#actividad .workspace.test .respuestas li {
    width: 32%
}

.shortanswer-container .preview:focus,.shortanswer-container input:focus,.shortanswer-container textarea:focus {
    -webkit-box-shadow: 0 0 2px #009fa5;
    -moz-box-shadow: 0 0 2px #009fa5;
    box-shadow: 0 0 2px #009fa5;
    border-color: #009fa5
}

.textarea-container {
    width: 100%
}

#actividad .workspace.multiple-choice .opcion {
    background-color: #fff
}

#actividad .workspace.multiple-choice .opcion.respuesta_checked {
    border-color: #0cb9ea;
    background-color: hsla(0,0%,91%,0)
}

#actividad .workspace h5 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 100;
    margin-top: 10px
}

#actividad .workspace h5:before {
    content: "\f0da";
    font-family: FontAwesome;
    position: absolute;
    color: #ef7d00;
    padding: 2px;
    background: none;
    margin-top: 2px;
    margin-left: -15px
}

.slide_main input.solucion.multiple-solution {
    padding-right: 6px!important
}

.cke_reset {
    background: #fff
}

.slide.crosswords-puzzle .enunciados {
    width: 325px
}

/*botones*/
.btn {
    padding: 6px 15px;
    -webkit-border-radius: 30px 10px 37px 10px;
    -moz-border-radius: 30px 10px 37px 10px;
    border-radius: 30px 10px 37px 10px;
    font-size: 14px;
}

/*.btn-group>.btn:first-child {
    background-color: #007c39;
}*/

.btn-primary,.btn-primary.disabled {
    background-color: #ea5b0c
}

.btn-danger, 
.btn-danger[disabled] {
    color: #fff;
    background-color: #007C39;
    border: 2px solid #007C39;
}

.btn-danger:hover {
    color: #007C39;
    background-color: #FFF;
    border: #007C39 3PX SOLID;
    FONT-WEIGHT: 700;
}

.btn-primary,.btn-primary.disabled,
.btn-primary.disabled:focus {
    background-color: #007C39;
}

.btn-primary[disabled],.btn-primary[disabled]:focus {
    background-color: #007C39;
}

.btn-primary.active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary:active,.btn-primary:focus,
.btn-primary:hover,
.open .dropdown-toggle.btn-primary {
    background-color: #007C39;
}

.btn-primary:not([disabled]):hover, 
.btn-primary:not([disabled]):focus, 
.btn-primary:not([disabled]):active,
.btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #E79F25;
    opacity: .9;
    border-color: transparent;
}

#actividad .content .review .attemps span {
    background-color: #007C39;
    border-radius: 30px 10px 37px 10px;

}

#actividad .portada .class_slide {
    padding: 0 97px;
    margin-top: -2%;
    width: 40px;
    height: 35px;
}

#actividad .carousel-inner .portada .item-container {
    padding-bottom: 0
}

#actividad .content .portada img:not(.bck-cam-button) {
    margin-top: 0;
    margin-bottom: 0
}

/*desplegables*/

/*.bck-dropdown-2 .bck-dropdown-titulo,
.bck-dropdown .bck-dropdown-titulo {
    color: inherit;
    font-size: 2.5rem;
    padding-left: 10px
}*/

.bck-dropdown .bck-dropdown-icon {
    color: #000
}

.bck-dropdown-icon>.fa {
    display: inline-block;
    border: none;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    padding: 7px;
    width: 100%;
    height: 100%;
    text-align: center
}

/*desplegable 1*/
.bck-dropdown.bck-dropdown-1 {
    background-color: #ffffff;
    border: 3px solid #e76048;
    margin-top: 10px;
    border-radius: 30px 10px 37px 10px;
    -webkit-border-radius: 30px 10px 37px 10px;
    -moz-border-radius: 30px 10px 37px 10px;

}

.bck-dropdown-1 .bck-dropdown-titulo {
    font-size: 2.5rem;
    font-weight: 600;
    padding-left: 10px;
    color: #e76048;
    font-family: 'StradaOT-Semibd';
}

.bck-dropdown-1 .bck-dropdown-icon {
    background-color: #fff;
    width: 25px;
    height: 10px;
    color: #e76048;
}

.bck-dropdown-1 .bck-dropdown-content {
    background-color: #fff;
    border: none;
    padding-left: 17px;
    border-radius: 30px 10px 37px 10px;
    max-height: 800%;
}



.bck-box .chooseblanks p,.bck-box .fillblanks p,.bck-dropdown-2.activities-dropdown .bck-box p {
    display: block
}

.bck-dropdown-content {
    max-height: none
}

.activities-dropdown .nav-tabs {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100px;
    height: auto;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #dcdada
}

.activities-dropdown .nav-tabs>li {
    width: 100%;
    height: 60px;
    margin: 0;
    border: 0
}

.activities-dropdown .nav-tabs>li:not(.active),.activities-dropdown .nav-tabs>li:not(:last-of-type) {
    border-bottom: 1px solid #dcdada
}

.activities-dropdown .nav-tabs>li>a {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
    background: transparent;
    color: #414141;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 4rem
}

.activities-dropdown .nav-tabs>li.active>a,.activities-dropdown .nav-tabs>li.active>a:focus,.activities-dropdown .nav-tabs>li.active>a:hover {
    border: 0;
    background: #ea5b0c;
    color: #fff
}

.activities-dropdown .tab-content {
    height: auto;
    overflow: hidden
}

.activities-dropdown .tab-content .tab-pane {
    padding: 20px 0
}

.slide_main input:focus {
    border-color: #007c39;
}



/*querys*/

@media screen and (max-width: 375px) {
    #actividad .box p {
        font-size:1.5rem
    }

    .btn-danger,.btn-danger[disabled],.btn-primary[disabled],
    .btn-primary[disabled]:focus {
        margin-bottom: 10px
    }
}

@media screen and (max-width: 450px) {
    #actividad .class_slide {
        padding:20px 15px 10px
    }

    .bck-box.bck-box-1 {
        left: -32px;
        width: 111.5%
    }
    .bck-title-1,.bck-title-4,.bck-title-7,.bck-title-8 {
        left: 0
    }

    .bck-box.bck-box-16 {
        top: -7px;
        left: -19px;
        width: 108.2%
    }

    .bck-title-6 {
        margin-left: -20px
    }

    .bck-title-6:before {
        padding: 24px 30px 0 24px;
        left: -3px
    }

    #actividad .content .cke_contents .bck-ol-2 li,
    #actividad .content .texto_curso .bck-ol-2 li,
    #actividad .content .workspace ul li .bck-ol-2 li,
    #actividad .popover-content .bck-ol-2 li {
        margin-left: -20px
    }

    #actividad .carousel-inner .item-container.aux-bckg,
    #actividad .carousel-inner .item-container.aux-fullscreen {
        padding-left: 0
    }



    .bck-box-1 .bck-content p {
        font-size: 2.5rem
    }

    .bck-enfasis-1 {
        top: 6px
    }
}

@media screen and (max-width: 500px) {
    #actividad .class_slide {
        padding:20px 60px 10px
    }

    #actividad .carousel-inner .item-container {
        -webkit-box-shadow: transparent 0 3px 9px;
        -moz-box-shadow: rgba(0,0,0,.298039) 0 3px 9px;
        box-shadow: 0 3px 9px transparent
    }

    #actividad .content .header .title h3:after {
        display: none
    }

    .bck-dropdown-titulo {
        padding-left: 0
    }

    .bck-dropdown-icon {
        width: 35px;
        height: 35px
    }

    .bck-dropdown-icon>.fa {
        padding: 4px
    }

    #actividad .content .cke_contents .bck-ol-2 li,#actividad .content .texto_curso .bck-ol-2 li,#actividad .content .workspace ul li .bck-ol-2 li,#actividad .popover-content .bck-ol-2 li {
        margin-left: -20px
    }

    .bck-box.bck-box-3 {
        padding: 20px 1px 17px 60px
    }

    .bck-box.bck-box-3 .bck-content {
        position: relative;
        left: -26px;
        top: 10px
    }

    .bck-box.bck-box-16 {
        left: -60px;
        width: 132.5%
    }
}

@media screen and (max-width: 768px) {
    #actividad .content .header .title h3:after {
        background-image:url(Images/triangulo-blanco2.png);
        content: "";
        background-size: contain;
        background-repeat: no-repeat;
        padding: 22px;
        position: absolute;
        width: 0;
        height: auto;
        margin-left: 21.5px;
        top: 65.5px
    }

    #actividad .content .iniciounidad .header .title h3 {
        margin-top: 104px
    }

    #actividad .content .iniciounidad .header .title h3:after {
        margin-top: 99px
    }

    #actividad .player.audio,
    #actividad .player.video,
    #help-panel-content .player,
    #remote-alert-modal-rich .player {
        display: inline-block;
        background-image: url(images/rich_english_U7_pg64_img_0004.png);
        background-color: rgba(0,128,0,0)!important;
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        margin: 0 5px;
        vertical-align: sub
    }

    #actividad .carousel-inner .item-container {
        -webkit-box-shadow: transparent 0 3px 9px;
        -moz-box-shadow: rgba(0,0,0,.298039) 0 3px 9px;
        box-shadow: 0 3px 9px transparent
    }

    .bck-box.bck-box-12 {
        margin-top: 15px;
        background: #eef4dc;
        position: relative;
        width: 133%;
        left: 0
    }

    .bck-title-2 {
        margin-left: 0px;
    }

    .bck-title-7 {
        margin-left: 0px;
    }

    .bck-title-9 {
        margin-left: 0px;
    }

    .bck-title-11 {
        margin-left: 0px;
    }

    .bck-title-13 {
        margin-left: 0px;
    }

    .bck-title-15 {
        margin-left: 0px;
    }

    .bck-title-17 {
        margin-left: 0px;
    }

    .bck-title-19 {
        margin-left: 0px;
    }

    .bck-title-21 {
        margin-left: 0px;
    }

    .bck-title-23 {
        margin-left: 0px;
    }

    .bck-title-25 {
        margin-left: 0px;
    }

    .bck-title-27 {
        margin-left: 0px;
    }


    }

    .slide.crosswords-puzzle .enunciados {
        width: 325px
    }

    /*.bck-box.bck-box-7 {
        width: calc(100% + 40px);
        left: -20px;
        max-width: calc(100% + 40px);
    }*/
}

@media only screen and (max-width: 1024px) and (min-width:769px) {
    #actividad .player.audio,
    #actividad .player.video,
    #help-panel-content .player,
    #remote-alert-modal-rich .player {
        display:inline-block;
        background-image: url(images/rich_english_U7_pg64_img_0004.png);
        background-color: rgba(0,128,0,0)!important;
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        margin: 0 5px;
        vertical-align: sub
    }

    #actividad .carousel-inner .item-container {
        -webkit-box-shadow: transparent 0 3px 9px;
        -moz-box-shadow: rgba(0,0,0,.298039) 0 3px 9px;
        box-shadow: 0 3px 9px transparent
    }

    /*.bck-box.bck-box-7 {
    left: -97px;
    width: calc(100% + 194px);
    max-width: calc(100% + 194px);
}*/

}

.tmpux.content_type_clase_donostiarraPlasticaDemo .donostiarraPlasticaDemo-navbar.modo_revision {
    top: 0;
    display: block!important
}

.tmpux.body_clase .content-wrapper {
    margin-top: 86px
}
